
# BEGIN BackUpWordPress
# This .htaccess file ensures that other people cannot download your backup files.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=0cb34371d318a1b19b6f738482928571
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress
