
# BEGIN BackUpWordPress
# This .htaccess file ensures that other people cannot download your backup files.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=8c15899079c2c309f81db9310ab906e9
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress
